body {
    background-color: #161F33; /* Cor de fundo padrão */
    color: rgb(139, 20, 20); /* Cor do texto padrão */
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.grade {
    display: flex;
    flex-direction: column; /* Alteração para coluna */
    align-items: center; /* Centralizar coluna */
    background-color: #3498db;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px; /* Espaço entre a grade e outros elementos */
}

.periodo {
    background-color: #2980b9;
    padding: 10px;
    margin: 10px 0; /* Espaço entre os períodos */
    border-radius: 5px;
    width: 100%; /* Preencher a largura da coluna */
}

.titulo-periodo {
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 5px;
}

.disciplinas {
    margin-top: 10px;
}

.disciplina {
    background-color: #34495e; /* Cor mais escura para disciplinas */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
