
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #161F33;
    font-family: 'Roboto', sans-serif;
    /* height: 300vh;  apenas para teste */
}

/* configurações do menu lateral */
nav.menu{
    width: 0px;	
    height: 100%;
    background-color: #8F9EBD;
    padding-top: 80px;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu.expandir{
    width: 250px; 
}

.btn-expandir{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.btn-expandir >i{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/* foto de perfil */
.profile-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.profile-circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    background-size: cover;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    color: #fff;
    font-size: 16px;
}

/* configurações do corpo do menu */
ul{
    height: 100%;
    list-style: none;
    margin-top: 5px;
}

ul li.item{
   transition: .2s;
}

ul li.item:hover{
    background: #161F33;
}


ul li.item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item a .link{
    margin-left: 20px;
}

ul li.item a .icon > i{
    font-size: 25px;
    margin-left: 10px;
}