body {
    background: #161F33; /* Cor de fundo azul escuro da página inicial */
    margin: 0;
}

.container {
    display: flex;
}

.content {
    width: 100%;
    text-align: center;
    padding: 30px 35px;
    color: #fff;
}