body {
    background: #161F33; /* Cor de fundo azul escuro da página inicial */
    margin: 0;
}

.container {
    display: flex;
}

.content {
    width: 100%;
    text-align: center;
    padding: 30px 35px;
    color: #fff;
}

.sidebar {
    width: 0;
    height: 100%;
    background: #8F9EBD; 
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s; /* Adiciona uma transição suave para a animação de abertura/fechamento */
    top: 0; 
    left: 0; 
}
.menu-btn {
    cursor: pointer;
    padding: 20px;
    position: fixed;
    z-index: 1; 
    top: 0; /* Posiciona o botão no topo da página */
    left: 0; /* Posiciona o botão no lado esquerdo da página */
}
.menu-btn span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin-bottom: 5px;
    display: block;
}
.menu-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.menu-list a {
    text-decoration: none;
    color: #000; /* Mudando a cor para preto */
    padding: 10px;
    display: flex; /* Para alinhar o ícone e o texto na vertical */
    align-items: center; /* Alinha o conteúdo verticalmente */
    transition: background 0.3s;
}

.menu-list a:hover {
    background: #340f99;
}

.submenu-list {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.menu-list a i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

/* Estilos para responsividade */

@media screen and (min-width: 768px) {
    .content {
        margin-left: 200px;
    }
    
    .sidebar {
        width: 200px;
    }
    
    .menu-btn {
        display: none; /* Oculta o ícone de menu em telas maiores */
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 0; /* Garante que a barra lateral está fechada em telas menores inicialmente */
        height: 100%;
        position: fixed;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .menu-list {
        display: none; /* Oculta a lista de funcionalidades em telas menores */
    }

    .menu-list.active {
        display: flex;
        flex-direction: column;
    }

    .menu-btn {
        display: flex;
    }
}
/* ... (seus estilos existentes) ... */

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adicione margem na parte inferior */
}

.user-profile img {
    width: 30px; /* Ajuste a largura conforme necessário */
    height: 30px; /* Ajuste a altura conforme necessário */
    border-radius: 50%; /* Para criar uma imagem de perfil circular */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.user-profile span {
    color: #fff;
    font-size: 14px;
}

/* ... (seus estilos existentes) ... */
