{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Disciplina Ver {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'acssdisciplina.css' %}">

<div class="leftcontainer">
    <a href="{% url 'lista_disciplina' %}">
        <img src="{% static 'voltar.png' %}" width="30" alt="Voltar para disciplina">
    </a>
</div>

<div class="container">
    <a class="btn">{{ disciplina.nome_disciplina }}</a>
</div>

<div class="leftcontainer">
    <img src="{% static 'descricao.png' %}" width="30">
    <label>Descrição</label>
</div>

<div class="leftcontainer">
    <a class="btn" style="padding: 4%; background-color: #85A7EF;">{{ disciplina.descricao_disciplina }}</a>
</div>

<div class="leftcontainer">
    <img src="{% static 'tarefa.png' %}" width="30">
    <label>Tarefa</label>
</div>

<div class="leftcontainer">
    <a class="tarefabtn" style="color: white;">{{ disciplina.tarefa_disciplina }}</a>
</div>

<div class="leftcontainer">
    <form method="post" action="{% url 'anexar_arquivo' disciplina_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_arquivo">
            <img src="{% static 'anexo.png' %}" width="30">
            <span>Anexar arquivo</span>
        </label>

        <input type="file" name="arquivo" id="id_arquivo" style="display: none;">
        <input type="submit" value="Anexar Arquivo">
    </form>
</div>

<div class="leftcontainer">
    <img src="{% static 'anotacoes.png' %}" width="30">
    <label>Anotações</label>
</div>


{% endblock %}