{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Cadastro Disciplina {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'caddisciplina.css' %}">

<div class="leftcontainer">
    <a href="{% url 'disciplina' %}">
        <img src="{% static 'voltar.png' %}" width="30" alt="Voltar para disciplina">
    </a>
    <h1> Nova Disciplina</h1>
</div>

<div class="leftcontainer">
    <input type="text" placeholder="Disciplina">
</div>

<div class="leftcontainer">
    <img src="{% static 'descricao.png' %}" width="30">
    <label>Descrição</label>
</div>

<div class="leftcontainer">
    <input type="text" style="margin-left: 10%; margin-right: 10%; padding: 4%">
</div>

<div class="leftcontainer">
    <img src="{% static 'tarefa.png' %}" width="30">
    <label>Tarefa</label>
</div>

<div class="leftcontainer">
    <input type="text" style="margin-left: 10%; margin-right: 10%; padding: 3%" placeholder="Listar tarefas da disciplina aqui!">
</div>

<div class="leftcontainer">
    <img src="{% static 'anexo.png' %}" width="30">
    <label>Anexar arquivo</label>
</div>

<div class="leftcontainer">
    <img src="{% static 'anotacoes.png' %}" width="30">
    <label>Anotações</label>
</div>

<div class="container" style="margin-left: 20%;">
    <a href="{% url 'disciplina' %}" style="margin-right: 50%; color: white">CANCELAR</a>
    <a href="{% url 'disciplina' %}" style="color: #85A7EF">CONFIRMAR</a>
</div>

{% endblock %}
