{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Disciplina {% endblock %}

{% block 'conteudo' %} 
{% include 'menu.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'disciplina.css' %}">

<div class="container">

    <div class="content">

        <form>
            <h1>DISCIPLINAS GRADUAÇÃO</h1>

            <label>Nome:</label>
            <a href="{% url 'ac' %}" class="btn">Algoritmo de Computadores</a>
            <a href="{% url 'al' %}" class="btn">Álgebra Linear</a>
            <a href="{% url 'md' %}" class="btn">Matemática Discreta</a>
            <a href="{% url 'mc' %}" class="btn">Metodologia Científica</a>
            <a href="{% url 'disciplina' %}" style="margin-right: 40%;">Deletar Disciplina</a>
            <a href="{% url 'caddisciplina' %}">Cadastrar Disciplina</a>
        </form>
    </div>
</div>

{% endblock %}