{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Login {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

<div class="container">

    <div class="content">
        <img src="{% static 'cad.png' %}" alt="Imagem de perfil" width="100">

        <form method="post" action="{% url  'valida_login' %}">
            {% csrf_token %} <!-- token de segurança para o usuário não saber onde enviar requisição e nem o tipo -->

            <h1>Login</h1>
            {% if status == '1' %}
            <div class="alert alert-danger" role="alert">
                Email ou senha incorretos!
            </div>
            {% endif %}

            <hr>

            <label>Email</label>
            <input name='email' class="form-control" type="text" placeholder="Email">

            <label>Senha</label>
            <input name='senha' class="form-control" type="password" placeholder="Senha">
            <br>
            <input type="submit" class="btn" value="Enviar">
            <a href="{% url 'cadastro' %}">Cadastre-se</a>
        </form>
    </div>
</div>

{% endblock %}