{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Metodologia da Computação {% endblock %}

{% block 'conteudo' %} 
{% include 'menu.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'acssdisciplina.css' %}">

<div class="container">
    <a class="btn">Metodologia da Computação</a>
</div>

<div class="leftcontainer">
    <img src="{% static 'tarefa.png' %}" width="30">
    <label>Tarefa</label>
    <img src="{% static 'plus.png' %}" width="30" style="margin-left: 80%;">
</div>

<div class="leftcontainer">
    <img src="{% static 'anexo.png' %}" width="30">
    <label>Anexar arquivo</label>
</div>

<div class="leftcontainer">
    <img src="{% static 'anotacoes.png' %}" width="30">
    <label>Anotações</label>
</div>

<div class="container" style="margin-left: 32%;">
    <a href="{% url 'disciplina' %}" style="margin-right: 50%; color: white">CANCELAR</a>
    <a href="{% url 'disciplina' %}" style="color: #85A7EF">CONFIRMAR</a>
</div>

{% endblock %}