{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} menu {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    <nav class="menu">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div>

        <div class="profile-container">
            <div class="profile-circle">
                <img src="{% static 'user.png' %}" alt="user">
            </div>
            <div class="profile-name">
                <p>{{ request.user.username }}</p>
            </div>
        </div>

        <ul>
            <li class="item">
                <a href="{% url "usuarios:paginaInicial" %}">
                    <span class="icon"><i class="bi bi-backpack3"></i></span>
                    <span class="link">Página Inicial</span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="icon"><i class="bi bi-gear"></i>
                    </span>
                    <span class="link">Configuração</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url "usuarios:lista_eventos" %}">
                    <span class="icon"><i class="bi bi-calendar-range"></i>
                    </span>
                    <span class="link">Cronograma</span>
                </a>
            </li>
            <li class="item">
                <a href="{% url "usuarios:lista_disciplina" %}">
                    <span class="icon"><i class="bi bi-book"></i>
                    </span>
                    <span class="link">Disciplinas</span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="icon"><i class="bi bi-grid"></i>
                    </span>
                    <span class="link">Grade Curricular</span>
                </a>
            </li>
            <li class="item-logout">
                <a href="{% url "usuarios:fazer_logout" %}">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i>
                    </span>
                    <span class="link">Sair</span>
                </a>
        </ul>
    </nav>

    <script>
        var btnExp = document.getElementById('btn-exp');
        var menuS = document.querySelector('.menu');

        btnExp.addEventListener('click', function(){
            menuS.classList.toggle('expandir');
        });
    </script>

{% endblock %}