{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} menu {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
<div class="container">
    <div class="sidebar" id="sidebar">
        <div class="menu-btn" onclick="toggleSidebar()">
            <!-- Ícone de menu com três traços -->
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="user-profile">
            <img src="{% static 'user-profile.jpg' %}" alt="Perfil do Usuário">
            <div class="user-details">
                <span class="user-name">Nome do Usuário</span>
                <!-- Adicionar informações do usuário aqui, se necessário -->
            </div>
        </div>
        <ul class="submenu-list">
            <li><a href="#"><i class="icon pesquisar"></i>Pesquisa</a></li>
            <li><a href="#"><i class="icon configura"></i>Configuração</a></li>
            <ul class="submenu-list">
               <li><a href="#">Excluir Conta</a></li>
               <li><a href="#">Trocar Senha</a></li>
            </ul>
            <li><a href="#"><i class="icon cronograma"></i>Cronograma</a></li>
            <li><a href="#"><i class="icon disciplinas"></i>Disciplinas</a></li>
            <li><a href="{% url 'gradeCurricular' %}"><i class="icon grade"></i>Grade Curricular</a></li>
        </ul>
    </div>
</div>

<script>
    function toggleSidebar() {
        console.log("Clicou!");
        var sidebar = document.getElementById("sidebar");
        sidebar.style.width = (sidebar.style.width === "200px") ? "0" : "200px";
    }
</script>
{% endblock %}