{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} menu {% endblock %}

{% block 'conteudo' %} 
<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}">
    <nav class="menu">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div>

        <div class="profile-container">
            <div class="profile-circle">
                <img src="{% static 'user-profile.jpg' %}" alt="user">
            </div>
            <div class="profile-name">
                <p>Nome do usuário</p>
            </div>
        </div>

        <ul>
            <li class="item">
                <a href="">
                    <span class="icon"><i class="bi bi-search"></i></span>
                    <span class="link">Pesquisar</span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="icon"><i class="bi bi-gear"></i>
                    </span>
                    <span class="link">Configuração</span>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <span class="icon"><i class="bi bi-calendar-range"></i>
                    </span>
                    <span class="link">Cronograma</span>
                </a>
            </li>
        </ul>
    </nav>

    <script>
        var btnExp = document.getElementById('btn-exp');
        var menuS = document.querySelector('.menu');

        btnExp.addEventListener('click', function(){
            menuS.classList.toggle('expandir');
        });
    </script>

{% endblock %}