{% extends "base.html" %}
{% load static %}

{% block 'titulo'%} Página Inicial {% endblock %}

{% block 'conteudo' %} 

    {% include 'menu.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'paginaInicial.css' %}">

    <div class="container">
        <div class="content">
           <!-- Conteúdo principal da página -->
           <img src="{% static 'agenda.png' %}" width="125" style="margin-bottom: 2%;">
           <h1 style="color: white;">Bem-vindo à</h1>
           <h1 style="color: white;">Página Inicial!</h1>
           <label style="color: #85A7EF; margin-bottom: 2%;">✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ </label>
           <br>
           <div>
            <img src="{% static '2GU.gif' %}" width="300">
            </div>
        </label>
        <br>
        <label style="color: #85A7EF; margin-top: 2%;">✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ + ✩₊˚.⋆☾⋆⁺₊✧ </label>
        <br>
        <a href="{% url 'usuarios:lista_disciplina' %}">Acessar Disciplina</a>
        <br>
        <a href="{% url 'usuarios:cadastro_disciplina' %}">Cadastrar Disciplina</a>
        <br>
        <a href="{% url 'usuarios:lista_eventos' %}">Acessar Cronograma</a>
        </div>
    </div>
{% endblock %}